<p>Hi,</p>

<p>您正在注册 <%= platformName %>：</p>

<p>要完成注册，请验证您的邮箱：</p>

<p><a href="<%- verificationLink %>">验证邮箱</a></p>

<p>如果链接无法点击，请复制下方地址到浏览器手动打开：</p>

<p><%- verificationLink %></p>

<p><%= platformName %></p>
